react-tutorial-back/EmailService/obj/
react-tutorial-back/EmailService/bin/
react-tutorial-back/WebAPI_tutorial_peliculas/bin/
react-tutorial-back/WebAPI_tutorial_peliculas/obj/
react-tutorial-back/.vs/
react-tutorial_peliculas-back/.vs/WebAPI_tutorial_peliculas/v17/.suo
