.navbar-toggler-bar {
    transition: 0.3s ease;
}

.toggled .navbar-toggler-bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.toggled .navbar-toggler-bar:nth-child(2) {
    opacity: 0;
}

.toggled .navbar-toggler-bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 5px;
}