.nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    /* background-color: rgba(0, 0, 0, 0.1) !important; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important; */
    transform: scale(1.08);
    /* cursor: pointer; */
}